.profile-pic {
    border-radius: 48%;
}

.skill-icon {
    width: 50px;
    height: 50px;
}

.company-logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border: 1px solid #212529bf;
    border-radius: 15%;
    padding: 0.5em
}